@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto.ttf");
}
body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

header,
main,
footer {
  border: 1 px dashed blue;
}
